body {
  background: rgb(211, 215, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
nav {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ext-weather {
  height: 60vh;
}
.forecast {
  height: 38%;
}
.weather-head {
  height: 62%;
}
.days-group > * {
  margin: 1em 0;
}
.day-icon {
  max-width: 4vw;
}
.weather-desc {
  text-transform: uppercase;
  font-size: 0.7rem;
  /* margin-top: 1em; */
}
.weekday {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.day {
  border: 1px solid black;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 1vh;
  /* padding: 1vw; */
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.day-temp {
  font-weight: bold;
  font-size: 1.2rem;
}
.ext-weather {
  background: ivory;
}
.weather-head {
  background: linear-gradient(
    90deg,
    rgba(120, 117, 173, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.content {
  background: linear-gradient(
    90deg,
    rgba(147, 165, 207, 1) 0%,
    rgba(228, 239, 233, 1) 50%
  );
  min-height: 60vh;
  width: 97%;
  border-radius: 10px;
  box-shadow: 9px 10px 5px rgba(68, 68, 68, 0.6);
}

@media only screen and (min-width: 768px) {
  .ext-weather {
    height: 60vh;
  }
  .forecast {
    height: 38%;
  }
  .weather-head {
    height: 62%;
  }
  .weekday {
    font-size: 1.1rem;
  }
}
