<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/slider.css') }}">
  <title>Weather app</title>
</head>

<body>
  <!-- Image and text -->
  <div class="container content d-flex flex-column px-0 py-2">
    <nav class="navbar navbar-light justify-content-around bg-transparent"
      style="background-color: rgb(255, 255, 240);">
      <span id="brand"><a href="/">WEATHER-io</a></span>
      <div class="align-items-center d-flex">
        <span class="mr-1"><i class="far fa-lightbulb"></i></span>
        <!-- <span class="mr-1"><i class="far fa-sun"></i></span> -->
        <label id="light-dark-theme" class="switch mb-0">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        <span class="ml-1"><i class="fas fa-moon"></i></span>
      </div>
    </nav>

    <div class="home container">
      <div class="input-group mb-5">
        <input type="text" class="form-control" placeholder="Start typing a city" aria-label="City name"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add city</button>
        </div>
      </div>

      <ul class="cities-list d-flex justify-content-center px-0 flex-wrap">
        <li class="city-block text-center p-2">
          <a href="/city/query" class="city-links">
            <h2 class="city-name">Ottawa, CA</h2>
            <h1 class="display-4">12 °C</h1>
            <canvas class="clear-day" width="128" height="128"></canvas>
            <p class="lead current-desc">CLOUDY</p>
          </a>
        </li>
        <li class="city-block text-center p-2">
          <a href="/city/query" class="city-links">
            <h2 class="city-name">Ottawa, CA</h2>
            <h1 class="display-4">12 °C</h1>
            <canvas class="rainy" width="128" height="128"></canvas>
            <p class="lead current-desc">CLOUDY</p>
          </a>
        </li>
        <li class="city-block text-center p-2">
          <a href="/city/query" class="city-links">
            <h2 class="city-name">Ottawa, CA</h2>
            <h1 class="display-4">12 °C</h1>
            <canvas class="partly-cloudy-night" width="128" height="128"></canvas>
            <p class="lead current-desc">CLOUDY</p>
          </a>
        </li>
      </ul>
    </div>
    <!-- <li class="day p-1">
            <h2 class="weekday">Monday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="rainy weather-icon" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
          <li class="day p-1">
            <h2 class="weekday">Tuesday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="partly-cloudy-night weather-icon" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
          <li class="day p-1">
            <h2 class="weekday">Wednesday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="rainy weather-icon" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
          <li class="day p-1">
            <h2 class="weekday">Thursday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="clear-night weather-icon" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
          <li class="day p-1">
            <h2 class="weekday">Friday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="rainy weather-icon" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li> -->
  </div>

  <!-- <footer>
    Copyright Ben2020
  </footer> -->
  <script src="https://gitcdn.link/cdn/darkskyapp/skycons/master/skycons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='app.js') }}"></script>
</body>

</html>