{% include 'header.html' %}

<div class="search-area d-flex flex-column flex-md-row justify-content-center">
  <div class="d-block">
    <input type="search" name="cityName" id="address-input" class="form-control"
      placeholder="Please enter a city to search" aria-label="City name">
    <span id="error-text" class="text-center">Couldn't obtain weather for this location</span>
  </div>
  <button id="search-btn" class="align-self-center btn btn-outline-secondary" type="submit" id="button-addon2">Add
    city</button>
</div>
<div class="home mt-5">
  <div id="loader"></div>
  <ul id="cities-list" class="cities-list d-flex justify-content-center pt-2 px-0 flex-wrap"></ul>
</div>
</div>

<script>
  function activatePlacesSearch() {
    var input = document.getElementById("address-input");
    var options = {
      types: ['(cities)']
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options)
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=activatePlacesSearch"></script>
{% include "footer.html" %}