{% include 'header.html' %}

<div class="home container">
  <!-- <form action="{{ url_for('add_city') }}" method="post" class="d-flex flex-column flex-md-row input-group mb-5"> -->
  <div class="d-flex flex-column flex-md-row input-group mb-5">
    <input type="search" name="cityName" id="address-input" class="form-control"
      placeholder="Please enter a city to search" aria-label="City name">
    <button id="search-btn" class="align-self-center btn btn-outline-secondary" type="submit" id="button-addon2">Add
      city</button>
  </div>
  <!-- </form> -->

  <ul id="cities-list" class="cities-list d-flex justify-content-center px-0 flex-wrap">
    {% if cities_weather is defined %}
    {% for city in cities_weather%}
    <li class="city-block text-center p-2">
      <a href="/city/query" class="city-links">
        <h2 class="city-name">{{city.name}}</h2>
        <h1 class="display-4">{{city.main.temp|int}} °C</h1>
        <canvas class="{{city.weather[0].class_name}} weather-icon" width="128" height="128"></canvas>
        <p class="lead current-desc">{{city.weather[0].description}}</p>
      </a>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
</div>

<script>
  function activatePlacesSearch() {
    var input = document.getElementById("address-input");
    var options = {
      types: ['(cities)']
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options)
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=activatePlacesSearch"></script>
{% include "footer.html" %}