<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/slider.css') }}">
  <title>Weather app</title>
</head>

<body>
  <!-- Image and text -->
  <div class="container content d-flex flex-column px-0 py-2">
    <nav class="navbar navbar-light justify-content-around bg-transparent"
      style="background-color: rgb(255, 255, 240);">
      <span id="brand"><a href="/">WEATHER-io</a></span>
      <div class="align-items-center d-flex">
        <span class="mr-1"><i class="far fa-lightbulb"></i></span>
        <!-- <span class="mr-1"><i class="far fa-sun"></i></span> -->
        <label id="light-dark-theme" class="switch mb-0">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        <span class="ml-1"><i class="fas fa-moon"></i></span>
      </div>
    </nav>

    <div class="d-flex flex-column main-content">


      <div class="container ext-weather">
        <div class="weather-head row p-3 d-flex">
          <div class="temperature text-center col-md-4">
            <h1 class="display-4">{{info.main.temp|int}} °C</h1>
            <canvas class="fog" width="128" height="128"></canvas>
            <p class="lead text-uppercase">{{info.weather[0].description}}</p>
          </div>

          <div class="justify-content-center text-center col-md-8 d-flex flex-column">
            <p class="min-max-temp"><i class="fas fa-sort-down"></i>{{info.main.temp_min|int}}°C <i
                class="fas fa-sort-up ml-2"></i>{{info.main.temp_max|int}}°C</p>
            <div class="d-flex extra-weather-info justify-content-center my-md-2">
              <p class="mr-4"><i class="fas fa-wind mr-2"></i> {{info.wind.speed}} m/s</p>
              <p><i class="fas fa-umbrella mr-2"></i> {{info.main.humidity}} %</p>
            </div>
            <h3 class="location"><i class="fas fa-map-marker-alt mr-2"></i> {{info.name}}, {{info.sys.country}}</h3>
            <span class="date">Monday, July 13, 2020 @ 7:30pm EST</span>
          </div>
        </div>
        <hr>
        <ul class="d-flex daily-forecast-list">
          <li class="day p-1">
            <h2 class="weekday">Monday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="rainy" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
          <li class="day p-1">
            <h2 class="weekday">Tuesday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="partly-cloudy-night" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
          <li class="day p-1">
            <h2 class="weekday">Wednesday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="rainy" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
          <li class="day p-1">
            <h2 class="weekday">Thursday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="clear-night" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
          <li class="day p-1">
            <h2 class="weekday">Friday</h2>
            <span class="day-temp">16<sup>°C</sup></span>
            <canvas class="rainy" width="40" height="40"></canvas>
            <span class="weather-desc">Cloudy</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
  </div>

  <!-- <footer>
    Copyright Ben2020
  </footer> -->
  <script src="https://gitcdn.link/cdn/darkskyapp/skycons/master/skycons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='app.js') }}"></script>
</body>

</html>