body {
  background: linear-gradient(to bottom, #e9e9e9 0%, #e1dad0 60%, #cec0b2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}
body.dark {
  background: linear-gradient(
    90deg,
    rgba(100, 16, 53, 1) 0%,
    rgba(59, 93, 132, 1) 100%
  );
  color: #cfcfcf;
  width: 100%;
}
.home {
  overflow-y: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
nav {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav.dark {
  background-color: transparent !important;
}
#brand {
  font-weight: 800;
}
#error-text {
  display: none;
  color: red;
  font-size: 0.8rem;
}
.date {
  color: grey;
  font-size: 0.85rem;
}
.main-content,
.ext-weather {
  flex-grow: 1;
}
.days-group > * {
  margin: 1em 0;
}
.day-icon {
  max-width: 4vw;
}
.current-icon {
  max-width: 11vw;
}
.weekday,
.weather-desc {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.current-desc,
.city-name {
  text-transform: uppercase;
}
.day {
  border: 1px solid #e4e0db;
  border-radius: 7px;
  text-align: center;
  background: #e4e0db;
  width: 24vw;
  margin-bottom: 1vh;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.day.dark {
  box-shadow: 5px 5px 5px rgba(145, 145, 145, 0.6);
  background: #49436a;
}
.day-temp {
  font-weight: bold;
  font-size: 1.2rem;
}
.content {
  min-height: 100vh;
}
.daily-forecast-list {
  list-style: none;
  padding: 1vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

#address-input.dark {
  color: white;
  background: #424f76;
}
#address-input.dark::placeholder {
  color: rgb(175, 169, 169) !important;
}
/* Home page */
.cities-list {
  list-style: none;
}
.city-block {
  border: 1px solid grey;
  border-radius: 3%;
  background: linear-gradient(to bottom, #e9e9e9 0%, #e1dad0 60%, #cec0b2 100%);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  cursor: pointer;
  margin: 0 2vw 2vh;
  width: 100%;
}
.city-block.dark {
  box-shadow: 5px 5px 5px rgba(145, 145, 145, 0.6);
  background: transparent;
}
.city-block:hover {
  transform: scale(1.1);
  transition-duration: 1.5s;
}
a {
  text-decoration: none !important;
  color: inherit;
}
.city-links:hover {
  color: inherit;
}
.city-name {
  font-family: Montserrat;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.2rem;
}
.city-block-temp {
  font-weight: normal;
}
#search-btn.dark {
  border: 1px solid #cfcfcf;
  color: #cfcfcf;
}
.pac-container {
  background: #e9e9e9;
}
.pac-container.dark {
  background: rgba(100, 16, 53, 1);
}
@media only screen and (min-width: 539px) {
  .content {
    min-height: 60vh;
    width: 100%;
  }
  #address-input {
    width: 400px;
    margin: auto;
  }
  .min-max-temp {
    order: 4;
  }
  .home {
    padding-right: 0px;
    padding-left: 0px;
  }
  .extra-weather-info {
    order: 3;
  }
  .location {
    order: 1;
  }
  .date {
    order: 2;
  }
  .city-block {
    width: 240px;
  }
}

@media only screen and (min-width: 768px) {
  .day {
    width: 121px;
  }
}

@media (min-height: 450px) and (min-width: 947px) {
  .content {
    border-radius: 12px;
    box-shadow: 5px 5px 5px #696464;
    background: linear-gradient(
      to bottom,
      #e9e9e9 0%,
      #e1dad0 60%,
      #cec0b2 100%
    );
    min-height: 60vh;
    max-height: 70vh;
    max-width: 90%;
  }
  .content.dark {
    background: linear-gradient(
      90deg,
      rgba(100, 16, 53, 1) 0%,
      rgba(59, 93, 132, 1) 100%
    );
    color: #cfcfcf;
  }

  body {
    background: #f1e9dc;
  }
  body.dark {
    background: rgb(73, 54, 92);
  }
  .date.dark {
    color: rgb(73, 54, 92);
  }
}
