body {
  background: linear-gradient(to bottom, #e9e9e9 0%, #e1dad0 60%, #cec0b2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}
body.dark {
  background: linear-gradient(
    90deg,
    rgba(100, 16, 53, 1) 0%,
    rgba(59, 93, 132, 1) 100%
  );
  color: #cfcfcf;
  width: 100%;
}
nav {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav.dark {
  background-color: transparent !important;
}
#brand {
  font-weight: 800;
}
.date {
  color: grey;
  font-size: 0.85rem;
}
.main-content,
.ext-weather {
  flex-grow: 1;
}
.days-group > * {
  margin: 1em 0;
}
.day-icon {
  max-width: 4vw;
}
.current-icon {
  max-width: 11vw;
}
.weather-desc {
  text-transform: uppercase;
  font-size: 0.7rem;
  /* margin-top: 1em; */
}
.weekday {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.day {
  border: 1px solid black;
  border-radius: 7px;
  text-align: center;
  background: #e4e0db;
  margin-bottom: 1vh;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.day.dark {
  box-shadow: 5px 5px 5px rgba(145, 145, 145, 0.6);
  background: #49436a;
}
.day-temp {
  font-weight: bold;
  font-size: 1.2rem;
}

.content {
  min-height: 100vh;
}
.daily-forecast-list {
  list-style: none;
  padding: 1vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Home page */
.cities-list {
  list-style: none;
}
.city-block {
  border: 1px solid grey;
  border-radius: 3%;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  cursor: pointer;
  margin: 0 2vw 2vh;
  width: 100%;
}
.city-block:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}
a {
  text-decoration: none !important;
  color: inherit;
}

@media only screen and (min-width: 568px) {
  .content {
    min-height: 60vh;
  }
  .min-max-temp {
    order: 4;
  }
  .extra-weather-info {
    order: 3;
  }
  .location {
    order: 1;
  }
  .date {
    order: 2;
  }
  .city-block {
    width: auto;
  }
}

@media (min-height: 450px) and (min-width: 768px) {
  .content {
    border-radius: 12px;
    box-shadow: 5px 5px 5px #696464;
    background: linear-gradient(
      to bottom,
      #e9e9e9 0%,
      #e1dad0 60%,
      #cec0b2 100%
    );
  }
  .content.dark {
    background: linear-gradient(
      90deg,
      rgba(100, 16, 53, 1) 0%,
      rgba(59, 93, 132, 1) 100%
    );
    color: #cfcfcf;
  }

  body {
    background: #f1e9dc;
  }
  body.dark {
    background: rgb(73, 54, 92);
  }
  .date.dark {
    color: rgb(73, 54, 92);
  }
}
